@using CiPlatform.DataModels
@model List<MissionCard>

<script src="~/js/site.js" asp-append-version="true"></script>
<link href="~/css/MissionListing.css" rel="stylesheet">
<script>
    function MissionFav(MissionId, ismissionfav) {
        $.ajax({
            url: '/Home/addtofav',
            type: 'POST',
            dataType: 'text',
            data: { id: MissionId, alreadyfav: ismissionfav },
            success: function () {
                filtration();
            },
            error: function () {
                console.log('Error in Mission add to fav');
            }
        });
    }

    function MApplication(MissionId) {
        $.ajax({
            url: '/Home/ApplyMission',
            type: 'POST',
            dataType: 'text',
            data: { id: MissionId },
            success: function () {
                alert('Thank you for applied in mission.');
                filtration();
            },
            error: function () {
                console.log('error');
            }
        });
    }

    function filtration() {
        $.ajax({
            url: '/Home/GetMission',
            type: 'POST',
            dataType: 'html',
            data: {
                countryid: $(ddlcountry).val(),
                cityid: $(ddlcity).val(),
                themeid: $(ddltheme).val(),
                skillid: $(ddlskill).val(),
                sort: $(ddlsort).val(),
                keyword: $(keyword).val()
            },
            success: function (d) {
                $("#missioncardlist").empty();
                $("#missioncardlist").html(d);
            },
            error: function () {
                alert('Error');
            }
        });
    }
    $(document).ready(function () {
        $('.Fav1').click(function () {
            $("i", this).toggleClass("Fav_Mission");
        });
    });

</script>
<style>
    .Fav_Mission {
        color: #ff00b7;
    }
</style>

<div class="Card row g-3">
    @foreach (var card in Model)
    {
        <div class="col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <div class="box">
                <div class="box-img">
                    <img src=@card.MediaPath class="box-img" alt="Can't Render photo">
                    <button class="img-icon" style="top:10px;"><i class="bi bi-geo-alt"></i>@card.CityName</button>

                    @if (DateTime.Now > card.Deadline || card.Seatleft <= 0)
                    {
                        <span class="img-layer" style="background:#d24242;">Closed</span>
                    }
                    else
                    {
                        <span class="img-layer" style="background:#232389;">Open</span>
                    }

                    @if (card.ismissionapplied)
                    {
                        <span class="img-layer" style="background:#2d9339;top: 30px;">Applied</span>
                    }
                    
                    <button onclick="MissionFav( @card.MissionId,@(card.ismissionfav ?"true":"false") )" id="Heart_btn" class="img-icon Fav1">
                        <i class="bi bi-heart-fill @(card.ismissionfav?"Fav_Mission":"")"></i>
                    </button>

                    <button type="button" data-toggle="ajax-modal" data-target="#SuggestWorker" style=" bottom:10px;"
                        class="img-icon" data-url="@Url.Action("SuggestCoWorker", "Home" , new{id = @card.MissionId})">
                        <i class="bi bi-person-plus"></i>
                    </button>

                    <div id="PlaceHolderHere"></div>

                    <div class="img-text common-font">@card.ThemeName</div>
                </div>

                <a class="card-heading" asp-controller="Home" asp-action="MissionDetail" asp-route-id="@card.MissionId" style="text-decoration:none;">@card.MissionTitle</a>
                <div class="card-body">@card.ShortDescription</div>
                <div class="star-box">
                    <div class="star-name common-font">@card.OrganizationName</div>
                    <div class="Stars" style="--rating: @card.avgRate;" aria-label="Rating of this product is @card.avgRate out of 5."></div>
                </div>

                @if (card.MissionType == 2)
                {
                    <div class="time-date">
                        <div class="date-set common-font">
                            @card.GoalObjectiveText
                        </div>
                        <div class="person">
                            <div style="display:flex;width:30%;">
                                <div><i class="bi bi-person deadline-icon"></i></div>
                                <div class="Deadline">
                                    @card.Seatleft<div class="text-style-1">Seats left</div>
                                </div>
                            </div>
                            <div style="width:70%;display: block;">
                                <div style="display:flex;">
                                    <div><img class="deadline-icon" src="/Assets/achieved.png" alt="....."></div>
                                    <div class="Deadline">
                                        <div style="width: 100%;"><progress max="100" value="@card.GoalValue"></progress></div>
                                        <div class="text-style-1">8000 achieved</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="time-date">
                        <div class="date-set common-font">
                            From  @Convert.ToDateTime(@card.StartDate).ToString("dd/MM/yyyy") until @Convert.ToDateTime(@card.EndDate).ToString("dd/MM/yyyy")
                        </div>
                        <div class="person">
                            <div style="display:flex;width:50%;">
                                <div><i class="bi bi-person deadline-icon"></i></div>
                                <div class="Deadline">
                                    @card.Seatleft <div class="text-style-1">Seats Left</div>
                                </div>
                            </div>
                            <div style="display:flex; margin-left:30px;width:50%">
                                <div><i class="bi bi-clock deadline-icon"></i></div>
                                <div class="Deadline">
                                    @Convert.ToDateTime(@card.Deadline).ToString("dd/MM/yyyy") <div class="text-style-1">Deadline</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="Apply-btn">
                    @if (card.ismissionapplied)
                    {
                        <a asp-action="MissionDetail" asp-controller="Home" asp-route-id="@card.MissionId" class="Apply common-font" style="text-decoration:none;">
                            View Details<i class="bi bi-arrow-right" style="margin:0 0 0 20px;"></i>
                        </a>
                    }
                    else
                    {
                        if (card.Seatleft <= 0 || card.Deadline < DateTime.Now)
                        {
                            <button class="btn Apply common-font disabled">
                                Apply<i class="bi bi-arrow-right" style="margin:0 0 0 20px;"></i>
                            </button>
                        }
                        else
                        {
                            <button onclick="MApplication( @card.MissionId)" class="Apply common-font">
                                Apply<i class="bi bi-arrow-right" style="margin:0 0 0 20px;"></i>
                            </button>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>
