@using CiPlatform.Models
@model int

<div class="center">
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">&lsaquo;</a>
        <a href="#" class="active">@Model</a>
        <a href="#">@Model</a>
        <a href="#">@Model</a>
        <a href="#">@Model</a>
        <a href="#">@Model</a>
        <a href="#">&rsaquo;</a>
        <a href="#">&raquo;</a>
    </div>
</div>
