@using CiPlatform.Models
@using CiPlatform.DataModels
@model MissionVM

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CL-Mission Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script src="https://cdn.jsdelivr.net/npm/virtual-select-plugin@1.0.33/dist/virtual-select.min.js"></script>
    <link href="~/css/AdminStyle.css" rel="stylesheet">
    <link href="~/css/Vitualselect.css" rel="stylesheet">
    
</head>

<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script data-main="dist/js/" src="js/require.min.js"></script>
    <script>
        setTimeout(alertFunc, 1000);
        function alertFunc() {
            VirtualSelect.init({
                ele: '#skillSelect'
            });
        }
        $(document).ready(function () {
            $("#goalMissionValue").hide();
            $("#goalMissionObjective").hide();
            $("#timeMissionStartdate").hide();
            $("#timeMissionEnddate").hide();
            $("#timeMissionDeadlinedate").hide();
            $("#ddlCountry").change(function () {
                ddlCity = $('#ddlCity');
                $.ajax({
                    url: '/City/GetCity',
                    type: 'GET',
                    dataType: 'json',
                    data: { id: $(this).val() },
                    success: function (d) {
                        ddlCity.empty();
                        ddlCity.append($("<option></option>").val('').html('Select City'));
                        $.each(d, function (i, city) {
                            ddlCity.append($("<option></option>").val(city.value).html(city.text));
                        });
                    },
                    error: function () {
                        alert('Error');
                    }
                });
            });
            $("#ddlMissionType").change(function () {
                value = $(this).val();
                if (value == 1) {
                    $("#goalMissionValue").hide();
                    $("#goalMissionObjective").hide();
                    $("#timeMissionStartdate").show();
                    $("#timeMissionEnddate").show();
                    $("#timeMissionDeadlinedate").show();
                }
                else if (value == 2) {
                    $("#goalMissionValue").show();
                    $("#goalMissionObjective").show();
                    $("#timeMissionStartdate").hide();
                    $("#timeMissionEnddate").hide();
                    $("#timeMissionDeadlinedate").hide();
                }
            });
        });
    </script>
    @if (Model.Mission != null && Model.Mission.MissionType == 2)
    {
        <script>
            setTimeout(function () { $("#goalMissionValue").show(); $("#goalMissionObjective").show(); }, 1000);
        </script>
    }
    else if (Model.Mission != null)
    {
        <script>
            setTimeout(function () { $("#timeMissionStartdate").show(); $("#timeMissionEnddate").show(); $("#timeMissionDeadlinedate").show(); }, 1000);
        </script>
    }
    <div class="body-1">
        <div class="left-container">
            <ul class="nav flex-column side-nav">

                <li class="nav-head">NAVIGATION</li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items" asp-controller="Admin" asp-action="Userlist">
                        <i class="bi bi-person"></i>
                        <div class="nav-item-name">User</div>
                    </a>
                </li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items" asp-controller="Admin" asp-action="Cmspage">
                        <i class="bi bi-file-earmark-text-fill"></i>
                        <div class="nav-item-name">CMS Pages</div>
                    </a>
                </li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items active" aria-current="page" asp-controller="Admin" asp-action="Mission">
                        <i class="bi bi-bullseye"></i>
                        <div class="nav-item-name">Mission</div>
                    </a>
                </li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items" asp-controller="Admin" asp-action="Missiontheme">
                        <i class="bi bi-columns"></i>
                        <div class="nav-item-name">Mission Theme</div>
                    </a>
                </li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items" asp-controller="Admin" asp-action="Missionskill">
                        <i class="bi bi-tools"></i>
                        <div class="nav-item-name">Mission Skills</div>
                    </a>
                </li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items" asp-controller="Admin" asp-action="Missionapp">
                        <i class="bi bi-gear-fill"></i>
                        <div class="nav-item-name">Mission Application</div>
                    </a>
                </li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items" asp-controller="Admin" asp-action="Story">
                        <i class="bi bi-pencil-square"></i>
                        <div class="nav-item-name">Story</div>
                    </a>
                </li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items" asp-controller="Admin" asp-action="Banner">
                        <i class="bi bi-gear-fill"></i>
                        <div class="nav-item-name">Banner Management</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="right-container">

            @await Component.InvokeAsync("AdminNavigation")

            <div style="padding: 0 40px 0 20px;width: 100%;position: relative;">
                <form method="post" class="row g-4 font-style-1" enctype="multipart/form-data"
                      style="margin: 50px 0 130px 0;border: 1px solid #e8e8e8;position: relative;">
                    <div class="form-title">@(Model.Mission.MissionId != 0 ? "Edit" : "Add") Mission</div>
                    <hr style="margin: 0;">
                    <input type="hidden" asp-for="Mission.MissionId" />
                    <div class="col-md-6" style="box-shadow: none;">
                        <label asp-for="Mission.CountryId" class="form-label">Country</label>
                        @Html.DropDownListFor(m => m.Mission.CountryId, Model.CountryList, "Select a Country",
                        new { @class = "form-select input-box-style", @style = "box-shadow:none;" , @id="ddlCountry" })
                        <span asp-validation-for="Mission.CountryId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6" style="box-shadow: none;">
                        <label asp-for="Mission.CityId" class="form-label">City</label>
                        <select class="form-select input-box-style" style="box-shadow:none;" id="ddlCity" asp-for="Mission.CityId" asp-items="@Model.CityList" aria-label="Default select example">
                        </select>
                        <span asp-validation-for="Mission.CityId" class="text-danger"></span>
                    </div>
                    <div class="col-12 ">
                        <label asp-for="Mission.Title" class="form-label">Mission Title</label>
                        <input asp-for="Mission.Title" type="text" class="form-control input-box-style" style="box-shadow: none;" id="title">
                        <span asp-validation-for="Mission.Title" class="text-danger"></span>
                    </div>
                    <div class="col-12 ">
                        <label asp-for="Mission.ShortDescription" class="form-label">Short Description</label>
                        <input asp-for="Mission.ShortDescription" type="text" class="form-control input-box-style" style="box-shadow: none;" id="shortdescription">
                        <span asp-validation-for="Mission.ShortDescription" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="Mission.Description" class="form-label">Discription</label>
                        <textarea asp-for="Mission.Description" class="form-control input-box-style" style="box-shadow: none;min-height:200px;" id="description">
                        </textarea>
                        <span asp-validation-for="Mission.Description" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Mission.MissionType" class="form-label">Mission Type</label>
                        <select id="ddlMissionType" asp-for="Mission.MissionType" class="form-select input-box-style" style="box-shadow: none;" aria-label="Default select example">
                            <option value="0" selected>Open this select menu</option>
                            <option value="1">Time</option>
                            <option value="2">Goal</option>
                        </select>
                        <span asp-validation-for="Mission.MissionType" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Mission.TotalSeat" class="form-label">Total seats</label>
                        <input type="number" name="Mission.TotalSeat" asp-for="Mission.TotalSeat"
                               class="form-control input-box-style" style="box-shadow: none;" placeholder="Enter total seats">
                        <span asp-validation-for="Mission.TotalSeat" class="text-danger"></span>
                    </div>
                    <div class="col-12 ">
                        <label asp-for="Mission.OrganizationName" class="form-label">Organization Name</label>
                        <input asp-for="Mission.OrganizationName" type="text" class="form-control input-box-style" style="box-shadow: none;" id="organizationname">
                        <span asp-validation-for="Mission.OrganizationName" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="Mission.OrganizationDetail" class="form-label">Organization Detail</label>
                        <textarea asp-for="Mission.OrganizationDetail" class="form-control input-box-style" style="box-shadow: none;min-height:200px;" id="organizationdetail">
                        </textarea>
                        <span asp-validation-for="Mission.OrganizationDetail" class="text-danger"></span>
                    </div>
                    <div class="col-md-6" style="box-shadow: none;">
                        <label asp-for="Mission.ThemeId" class="form-label">Theme</label>
                        @Html.DropDownListFor(m => m.Mission.ThemeId, Model.ThemeList, "Select a Theme",
                        new { @class = "form-select input-box-style", @style = "box-shadow:none;" })
                        <span asp-validation-for="Mission.ThemeId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="SkillList" class="form-label">Mission Skills</label>
                        <div>
                            <select id="skillSelect" class="input-box-style" asp-for="addskill" multiple asp-items="@Model.SkillList"
                                    placeholder="Select Skills" data-search="true" data-silent-initial-value-set="true">
                            </select>
                        </div>
                        <span asp-validation-for="SkillList" class="text-danger"></span>
                    </div>

                    <div class="col-md-4" id="timeMissionStartdate">
                        <label asp-for="Mission.StartDate" class="form-label">Start Date</label>
                        <input type="date" name="mission.StartDate" asp-for="Mission.StartDate" class="form-control input-box-style"
                               style="box-shadow: none;" placeholder="Select Start Date">
                        <span asp-validation-for="Mission.StartDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-4" id="timeMissionEnddate">
                        <label asp-for="Mission.EndDate" class="form-label">End Date</label>
                        <input type="date" name="mission.EndDate" asp-for="Mission.EndDate" class="form-control input-box-style"
                               style="box-shadow: none;" placeholder="Select End Date">
                        <span asp-validation-for="Mission.EndDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-4" id="timeMissionDeadlinedate">
                        <label asp-for="Mission.Deadline" class="form-label">Mission registration deadline</label>
                        <input type="date" name="mission.Deadline" asp-for="Mission.Deadline" class="form-control input-box-style"
                               style="box-shadow: none;" placeholder="Enter deadline for mission-apply">
                        <span asp-validation-for="Mission.Deadline" class="text-danger"></span>
                    </div>
                    
                        <div class="col-md-6" id="goalMissionValue">
                            <label asp-for="goalMission.GoalValue" class="form-label">Goal Value</label>
                            <input type="number" name="goalMission.GoalValue" asp-for="goalMission.GoalValue" class="form-control input-box-style"
                                   style="box-shadow: none;" placeholder="Enter Goal value">
                            <span asp-validation-for="goalMission.GoalValue" class="text-danger"></span>
                        </div>
                        <div class="col-md-6" id="goalMissionObjective">
                            <label asp-for="goalMission.GoalObjectiveText" class="form-label">Goal Objective</label>
                            <input type="text" name="goalMission.GoalObjectiveText" asp-for="goalMission.GoalObjectiveText" class="form-control input-box-style"
                                   style="box-shadow: none;" placeholder="Enter Mission Title">
                            <span asp-validation-for="goalMission.GoalValue" class="text-danger"></span>
                        </div>
                   
                    <div class="col-12">
                        <label asp-for="Mission.Availability" class="form-label">Mission Availablity</label>
                        <select id="ddlavailablity" asp-for="Mission.Availability" class="form-select input-box-style" style="box-shadow: none;" aria-label="Default select example">
                            <option value="0" selected>Available time</option>
                            <option value="1">Daily</option>
                            <option value="2">Weekly</option>
                            <option value="3">WeekEnd</option>
                        </select>
                        <span asp-validation-for="Mission.Availability" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Mission Images</label>
                        <input type="file" name="images" multiple class="form-control input-box-style" style="box-shadow: none;" id="uploadImage">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Documents</label>
                        <input type="file" name="files" multiple class="form-control input-box-style" style="box-shadow: none;" id="uploadDoc">
                    </div>


                    <div class="col-12" style="margin-bottom: 40px;">
                        <label asp-for="Mission.Status" class="form-label">Status</label>
                        <select asp-for="Mission.Status" id="status" class="form-select input-box-style" style="box-shadow: none;">
                            <option value="0">In Active</option>
                            @if (Model.Mission.MissionId != 0)
                            {
                                <option value="1">Active</option>
                            }
                            else
                            {
                                <option value="1" selected>Active</option>
                            }
                        </select>
                    </div>
                    <div style="display: flex; position: absolute;bottom: -75px;justify-content: end;">
                        <a asp-controller="Admin" asp-action="Mission" style="text-decoration: none;" class="btn-style1 btn-style-grey">
                            Cancel
                        </a>
                        @if (Model.Mission.MissionId == 0)
                        {
                            <button type="submit" onclick="return validateInput()" class="btn-style1 btn-style-orange" style="margin-left: 10px;">
                                Create
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="btn-style1 btn-style-orange" style="margin-left: 10px;">
                                Update
                            </button>
                        }

                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function validateInput() {
            if (document.getElementById("uploadImage").value == "" || document.getElementById("uploadDoc").value == "") {
                Swal.fire({
                    icon: 'info',
                    title: 'Upload Image or Document',
                    text: 'Image and Document should be uploaded while Adding new Mission.....',
                })
                return false;
            }
            return true;
        };
    </script>
    
    
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
    

</body>

</html>