@using CiPlatform.Models
@model StoryDetailVM


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CL-Story-detail</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/StoryDetail.css" rel="stylesheet">
    <link href="~/css/Navigation.css" rel="stylesheet">
    <link href="~/css/Slider.css" rel="stylesheet">
</head>

<body>
    <div class="body-1">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                const slides = document.querySelectorAll(".slide")
                const vid = document.querySelectorAll("video.slide")
                const totalImgInSlider = 4;
                const totalImg = @Model.storyMedia.Count();
                var counter = 0;

                slides.forEach(
                    (slider, index) => {
                        slider.style.left = `${index * 100 / totalImgInSlider}%`
                    }
                )

                slideImg = () => {
                    slides.forEach(
                        (slider) => {
                            slider.style.transform = `translateX(-${counter * 100}%)`
                        }
                    )
                }

                goPrev = () => {
                    if (counter != 0)
                        counter--;
                    slideImg();
                }

                goNext = () => {
                    if (counter < totalImg - totalImgInSlider)
                        counter++;
                    slideImg();
                }

                setImage = () => {
                    document.getElementById("demo").src = document.querySelector(".slide.active").src;
                }
            });
            
        </script>



        @await Component.InvokeAsync("Navigation")
        <hr style="margin-bottom: 0;">
        <hr style="height:2px;border-width:0;color:gray;background-color:gray;margin: 0;">

        <div class="photo-description-body">
            
            <div class="photo">
                <div>
                <display>
                    <img style="height: 420px; width: 100%;object-fit: cover;" id="demo" src="@Model.storyMedia[0].Path" alt="">
                </display>
                <div class="sliderNav">
                    @foreach (var item in Model.storyMedia)
                    {
                        <div><img class="slide" src="@item.Path" alt="can't rendor"></div>
                    }
                    <button onclick="goPrev()">
                        <i class="bi bi-chevron-left"></i>
                    </button>
                    <button onclick="goNext()" style="right:0">
                        <i class="bi bi-chevron-right"></i>
                    </button>
                </div>
                </div>
            </div>

            <script>
                $("img.slide").on('click', function (event) {
                    $('.slide.active').removeClass('active');
                    $(this).addClass("active");
                    setImage();
                });
            </script>

            <div class="description">
                <div style="position: relative;margin: 38px 0;">

                    <div style="font-size: 13px;">
                        <img class="volunteer-image-style" src="@Model.user.Avatar" alt="Can't render">
                        <div class="common-font font-style-1"
                             style="margin-top: 10px;font-size: 16px; line-height: 1.63;">
                            @Model.user.FirstName @Model.user.LastName
                        </div>
                    </div>
                    <div class="common-font eye-block">
                        <img src="/Assets/eye.png" alt="....">
                        @Model.story.ViewCount Views
                    </div>
                </div>

                <div class="common-font font-style-1" style="line-height: 1.53;font-size: 17px;">
                    @Model.user.ProfileText
                    <br><br>
                    @Model.user.WhyIVolunteer
                    <br><br>
                    @Model.story.Description
                </div>
                <div class="two-btns">
                    <button class="add-to-fav common-font" style="margin-right:auto;">
                        <div>
                            <img class="deadline-icon" src="/Assets/add1.png" alt="....." style="margin-right: 7px;">
                        </div>
                        Recommend to a Co-Worker
                    </button>
                    <a asp-action="MissionDetail" asp-controller="Home" asp-route-id="@Model.mission.MissionId" style="text-decoration:none" class="Apply common-font">
                        Open Mission<i class="bi bi-arrow-right" style="margin:0 0 0 20px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="details-container">
        <div class="common-font font-style-1"
             style="font-size: 22px;border-bottom: 1px solid #e8e8e8;padding-bottom: 20px;margin-bottom: 30px;">
            <span style="border-bottom: 1px solid #757575;padding-bottom: 21px;">@Model.mission.Title</span> - @Model.mission.ShortDescription
        </div>
        <div class="common-font font-style-1" style="line-height: 1.6;">
            @Model.mission.Description
        </div>
    </div>

    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <footer>
        <a href="#" class="privacy-policy common-font">Privacy Policy</a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous"></script>
</body>
